<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}{% endblock %}
    <title>Page</title>
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>
</html>